/*
@import "src/assets/scss/_variables";
*/

/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Bukra-Regular';
  /* ../../webfonts/DroidKufi-Regular.ttf */
  src: url('../fonts/29LTBukraRegular3.otf') format('truetype');
}

@font-face {
  font-family: 'Bein-Black';
  /* ../../webfonts/DroidKufi-Regular.ttf */
  src: url('../fonts/beIN Black.ttf') format('truetype');
}

//Borders
$border-color: #CCCCCC;
$border-color-2:#E0E0E0;

//Backgrounds Colors
$background-one: #F5F5F5;


//New Variables
$primary-color: #00a4ad; //#3d535f - #3695A1
$accent-color: #00f1ff; //#7f00ff #A16537 #304FFE
$warn-color: #c9ee14; //#FCF182


//Fonts
$primay-font: 'Bein-Black';
$accent-font: 'Bukra-Regular';

//Basices Colors
$basic-color: #fff;
$basic-color-2: #000;
$basic-color-light: lighten($basic-color, 5%);
$basic-color-dark: darken($basic-color, 15%);

$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-ultra-bold: 900;


//Shadowes
$hover-box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.16), 0 10px 15px 0 rgba(0, 0, 0, 0.12);
$navigation-box-shadow: 0px 0px 3px 1px $primary-color;
$box-shadow: 0px 1px 5px 2px #7d7d7d;
$box-shadow-2:0 0 10px #719ECE;
$text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.29);
$card-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

//Social Media Color
$twitter-color: #4c6ef5;
$twitter-background: aliceblue;

$facebook-color: #3b5998;
$facebook-background: #eceff5;

$whatsapp-color: #25D366;
$whatsapp-background: #cef5dc;

$telegram-color: #4c6ef5;
$telegram-background: aliceblue;