<div class="links">
    <a target="_blank" [matTooltip]="'SOCIAL_MEDIA.SNAPCHAT' | translate" href="https://www.snapchat.com/add/alyahyamarket?share_id=ePXKCH35Mww&locale=en-GB"><i class="mdi mdi-snapchat"></i></a>
    <a target="_blank" [matTooltip]="'SOCIAL_MEDIA.INSTAGRAM' | translate" href="https://www.instagram.com/alyahyamarket/"><i class="mdi mdi-instagram"></i></a>
    <a target="_blank" [matTooltip]="'SOCIAL_MEDIA.TWITTER' | translate" href="https://twitter.com/yh_bakery"><i class="mdi mdi-twitter"></i></a>
</div>