<div class="container">
    <div class="card main-card">
        <div class="row">
            <div class="col-12">
                <div class="mx-auto text-center">
                    <mat-slide-toggle [matTooltip]="'TOOLTIPS.SWITCH_ENCRYPTION_AND_DECRYPTION' | translate"
                        [(ngModel)]="isChecked" class="slide-ecode-decode">{{(isChecked === true)?('LABELS.ENCRYPTION' |
                        translate):('LABELS.DECRYPTION' | translate)}}</mat-slide-toggle>
                </div>
            </div>
            <div class="card container ciphers-card mx-auto d-block">
                <div class="row">
                    <div class="col-12 header-ciphers">
                        <ul>
                            <label for="">{{'LABELS.CHOOSE_AN_ALGORITHM' | translate}}:</label>
                            <li *ngFor="let item of items">
                                <button
                                    [matTooltip]="(translateService.currentLang === 'ar')? item.ar_name: item.en_name">{{(translateService.currentLang
                                    === 'ar')? item.ar_short: item.en_short}}</button>
                            </li>
                        </ul>
                    </div>
                    <!-- source -->
                    <div class="col-6 right-area">
                        <div [class]="(translateService.currentLang === 'ar')? 'corner-top-left': 'corner-top-right'">
                            <i class="mdi mdi-close icon-x" *ngIf="this.plainText.value.length !== 0" (click)="clear()"
                                [matTooltip]="'BUTTONS.CLEAR' | translate"></i>
                        </div>
                        <div [class]="(translateService.currentLang === 'ar')? 'corner-top-left mt-5': 'corner-top-right mt-5'">
                            <i class="mdi mdi-refresh icon-x" *ngIf="this.plainText.value.length !== 0" (click)="clear()"
                                [matTooltip]="'BUTTONS.CLEAR' | translate"></i>
                        </div>
                        <div
                            [class]="(translateService.currentLang === 'ar')? 'corner-bottom-left mb-3':'corner-bottom-right mb-3'">
                            <mat-hint dir="ltr" align="start">{{plainText.value.length}} / 500</mat-hint>
                        </div>
                        <div
                            [class]="(translateService.currentLang === 'ar')? 'corner-bottom-right':'corner-bottom-left'">
                            <mat-form-field class="text-input mr-2">
                                <mat-label>{{'LABELS.ENCRYPTION_KEY' | translate}}</mat-label>
                                <input matInput [placeholder]="'PLACEHOLDERS.ENCRYPTION_KEY' | translate"
                                    class="text-input">
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <div class="col-11 height-of-encode-box" >
                                <textarea (ngModelChange)="decrypt()" #plainText class="full-width lh-lg font-24 mt-3" [(ngModel)]="source"
                                    maxlength="500" style="overflow:hidden"
                                    [placeholder]="isChecked === true? ('PLACEHOLDERS.ENCRYPTION' | translate):('PLACEHOLDERS.DECRYPTION' | translate)"></textarea>
                            </div>
                        </div>
                    </div>

                    <!-- destination -->
                    <div
                        [class]="translateService.currentLang === 'ar'? 'col-6 bg-F5 left-area' : 'col-6 bg-F5-en left-area'">

                        <mat-icon *ngIf="this.plainText.value.length !== 0"
                            [class]="(translateService.currentLang === 'ar')? 'icon material-icons-outlined corner-bottom-left ml-5' : 'icon material-icons-outlined corner-bottom-right mr-5'"
                            [matTooltip]="'BUTTONS.SHARE_PROCESS' | translate">share</mat-icon>
                        <mat-icon *ngIf="this.plainText.value.length !== 0"
                            [class]="(translateService.currentLang === 'ar')? 'icon material-icons-outlined corner-bottom-left ml-10' : 'icon material-icons-outlined corner-bottom-right mr-10'"
                            [matTooltip]="'BUTTONS.COPY_PROCESS' | translate">copy</mat-icon>
                        <mat-icon *ngIf="this.plainText.value.length !== 0"
                            [class]="(translateService.currentLang === 'ar')? 'icon material-icons-outlined corner-top-left ml-5' :'icon material-icons-outlined corner-top-right mr-5'"
                            [matTooltip]="'BUTTONS.SAVE_PROCESS' | translate">star_border</mat-icon>


                        <div class="mt-4 font-24 text-f5 text-hustify lh-lg">
                            <div *ngIf="this.plainText.value.length === 0">
                                {{(isChecked === true)? ('PLACEHOLDERS.ENCRYPTION_DESTINATION' | translate) :
                                ('PLACEHOLDERS.DECRYPTION_DESTINATION' | translate)}}
                            </div>
                            <div *ngIf="this.plainText.value.length !== 0">
                                {{destination}}
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>