<mat-drawer-container class="example-container" hasBackdrop="false">
    <mat-drawer #drawer mode="side" position="end">
        <div class="container">
            <div class="row">
                <div class="col-12 header-offcanvas">
                    <mat-icon class="close">close</mat-icon>
                </div>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content>


        <div class="container">
            <div class="card main-card mb-3">
                <div class="row">
                    <div class="col-12">
                        <div class="mx-auto text-center">
                            <mat-slide-toggle [matTooltip]="'TOOLTIPS.SWITCH_ENCRYPTION_AND_DECRYPTION' | translate"
                                [(ngModel)]="process.status" class="slide-ecode-decode">{{(process.status ===
                                true)?('LABELS.ENCRYPTION' |
                                translate):('LABELS.DECRYPTION' | translate)}}</mat-slide-toggle>
                        </div>
                    </div>
                    <div class="col-12 header-ciphers">
                        <ul>
                            <label for="">{{'LABELS.CHOOSE_AN_ALGORITHM' | translate}}:</label>
                            <li *ngFor="let item of items">
                                <button (click)="currentCipherMethod(item)"
                                [class.bg-warn]="item.text_id === process.algorithm"
                                    [matTooltip]="(translateService.currentLang === 'ar')? item.ar_name: item.en_name">{{(translateService.currentLang
                                    === 'ar')? item.ar_short: item.en_short}}</button>
                            </li>
                        </ul>
                    </div>


                    <container-element [ngSwitch]="process.algorithm">
                        <!-- the same view can be shown in more than one case -->
                        <some-element *ngSwitchCase="'CAESAR_CIPHER'">
                            

                            <div *ngIf="process.status === true; else elseBlock">
                                <app-encription-caesar [cipher]="currentCipher"></app-encription-caesar>
                            </div>
                            <ng-template #elseBlock>
                                <app-decryption-caesar></app-decryption-caesar>
                            </ng-template>
                        
                        
                        
                        </some-element>
                        <some-element *ngSwitchCase="'ZIGZAG_CIPHER'">ZIGZAG_CIPHER</some-element>
                        <some-other-element *ngSwitchCase="'MONO_ALPHAPETIC'">MONO_ALPHAPETIC</some-other-element>
                        <some-other-element *ngSwitchCase="'PLAY_FAIR'">PLAY_FAIR</some-other-element>
                        <some-other-element *ngSwitchCase="'AES'">AES</some-other-element>
                        <some-other-element *ngSwitchCase="'RSA'">RSA</some-other-element>
                        <!--default case when there are no matches -->
                        <some-element *ngSwitchDefault>...</some-element>
                      </container-element>


                    <!-- أزرار المفضلة والسجل والمحتوى التعليمي -->
                    <nav class="all-actions mt-10"><!-- *ngIf="this.plainText.value.length === 0" -->
                        <a (click)="drawer.toggle()" class="action-icon"
                            data-probe-id="translation_history_footer_button">
                            <i class="mdi mdi-history"></i>
                            <div class="title" [innerHtml]="'BUTTONS.HISTORY' | translate"></div>
                        </a>

                        <a href="./history" class="action-icon" data-probe-id="translation_history_footer_button">
                            <i class="mdi mdi-star"></i>
                            <div class="title" [innerHtml]="'BUTTONS.SAVED_OPERATIONS' | translate"></div>
                        </a>
                        <a href="./history" class="action-icon" data-probe-id="translation_history_footer_button">
                            <i class="mdi mdi-book-open-variant"></i>
                            <div class="title" [innerHtml]="'BUTTONS.TRAINING_CURRICULUM' | translate"></div>
                        </a>
                    </nav>


                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>