<div class="container">
    <div class="card main-card">
        <div class="row">
            <div class="col-12">
                <div class="mx-auto text-center">
                    <mat-slide-toggle [matTooltip]="'يمكنك التبديل بين التشفير وفك التشفير عن طريق هذا الزر بكل بساطة'"
                        [(ngModel)]="isChecked" class="slide-ecode-decode">{{(isChecked === true? 'تشفير':'فك
                        تشفير')}}</mat-slide-toggle>
                </div>
            </div>
            <div class="card container ciphers-card mx-auto d-block">
                <div class="row">
                    <div class="col-12 header-ciphers">
                        <ul>
                            <label for="">{{'LABELS.CHOOSE_AN_ALGORITHM' | translate}}:</label>
                            <li *ngFor="let item of items">
                                <button>{{item.ar_short}}</button>
                            </li>
                        </ul>
                    </div>
                    <!-- source -->
                    <div class="col-6 right-area">
                        <div class="corner-top-left">
                            <i class="mdi mdi-close icon-x" *ngIf="this.plainText.value.length !== 0" (click)="clear()"
                                [matTooltip]="'BUTTONS.CLEAR' | translate"></i>
                        </div>
                        <div class="corner-bottom-left">
                            <mat-hint dir="ltr" align="start">{{plainText.value.length}} / 500</mat-hint>
                        </div>
                        <div class="corner-bottom-right">
                            <mat-form-field class="text-input mr-2">
                                <mat-label>مفتاح التشفير</mat-label>
                                <input matInput placeholder="مثلاً: 3" class="text-input">
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <div class="col-11 height-of-encode-box">
                                <textarea #plainText class="full-width font-24 mt-3" [(ngModel)]="text1" maxlength="500"
                                    style="overflow:hidden"
                                    [placeholder]="isChecked === true?  'اكتب النص الذي تود تشفيره':'اكتب النص الذي تود فك تشفيره'"></textarea>
                            </div>
                        </div>
                    </div>

                    <!-- destination -->
                    <div class="col-6 bg-F5 left-area">

                            <mat-icon class="icon material-icons-outlined corner-bottom-left">share</mat-icon>
                            <mat-icon class="icon material-icons-outlined corner-bottom-left ml-5">copy</mat-icon>

                        <div class="mt-3 font-24">
                             سيظهر هنا النص المشفر
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>