<mat-sidenav-container class="sidenav-container" [dir]="translateService.currentLang === 'ar'? 'rtl':'ltr'">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <img src="../../../assets/img/logos/logo.png" class="logo" [alt]="'WEBSITE_NAME' | translate"
        [matTooltip]="'WEBSITE_NAME' | translate">
    </mat-toolbar>
    <mat-nav-list>
      <hr>
      <a mat-list-item *ngFor="let item of menuItems" [routerLink]="item.router_link"><mat-icon>{{item.icon}}</mat-icon>
        {{item.ar_name}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{'WEBSITE_NAME' | translate}}</span>
      <span style="flex: auto;"></span>
      <app-lang></app-lang>
      <app-social-media
        [style]="translateService.currentLang === 'ar'? 'margin-right: 2rem;':'margin-left: 2rem;'"></app-social-media>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>