<mat-sidenav-container class="sidenav-container" [dir]="translateService.currentLang === 'ar'? 'rtl':'ltr'">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <a [routerLink]="''">
      <img src="../../../assets/img/logos/logo.png" class="logo" [alt]="'WEBSITE_NAME' | translate"
        [matTooltip]="'WEBSITE_NAME' | translate"></a>
    </mat-toolbar>
    <mat-nav-list [class]="translateService.currentLang === 'ar'? 'mat-nav-list-ar' : 'mat-nav-list-en'">
      <hr>
      <a mat-list-item class="mx-auto d-block" *ngFor="let item of menuItems" [routerLink]="item.router_link" [routerLinkActive]="'bg-warn'">
        <i [class]="item.icon"></i>
        {{'MAIN_MENU.' + item.id | translate}}</a>
    </mat-nav-list>
    <div class="div-center">
      <a class="text-center lh-lg" href="https://abdullah-alsalem-cv.netlify.app/" target="_blank"
        [matTooltip]="'TOOLTIPS.DEVELOPER' | translate" [innerHTML]="'LABELS.DEVELOPER' | translate">
      </a>
    </div>
    <mat-nav-list>


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{'WEBSITE_NAME' | translate}}</span>
      <span style="flex: auto;"></span>
      <app-lang></app-lang>
      <app-social-media
        [style]="translateService.currentLang === 'ar'? 'margin-right: 2rem;':'margin-left: 2rem;'"></app-social-media>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>