<div [dir]="(translateService.currentLang === 'ar')? 'rtl': 'ltr'" class="bg-primary-y text-black">
    <h2 mat-dialog-title class="text-black text-center">{{(translateService.currentLang === 'ar')? data.item.ar_name: data.item.en_name}}</h2>
    <mat-dialog-content class="mat-typography">

        <pdf-viewer [src]="pdfSrc" [render-text]="false" [original-size]="false"
            style="width: 45vw; height: 32vw;"></pdf-viewer>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-dialog-close>{{'BUTTONS.CLOSE' | translate}}</button>
    </mat-dialog-actions>

</div>