<div [dir]="(translateService.currentLang === 'ar')? 'rtl': 'ltr'" class="bg-primary-y text-black none-scroll">
    <h2 mat-dialog-title class="text-black text-center">{{(translateService.currentLang === 'ar')? data.item.ar_name:
        data.item.en_name}}</h2>
        <mat-divider></mat-divider>
    <mat-dialog-content class="mat-typography none-scroll">
        <pdf-viewer [src]="pdfSrc" [render-text]="false" [original-size]="true"
            style="width: 45vw; height: 32vw;"></pdf-viewer>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button color="primary" class="m-4 bg-primary-2" (click)="downloadFile()"><mat-icon>download</mat-icon> {{'BUTTONS.DOWNLOAD' | translate}}</button>
        <button mat-raised-button color="accent" class="m-4 bg-accent-2" mat-dialog-close>{{'BUTTONS.CLOSE' | translate}}</button>
    </mat-dialog-actions>
</div>