<div class="container">
    <div class="card mt-3 mb-5">
        <h1 class="text-center mt-2 text-uppercase"><b>{{'MAIN_MENU.ABOUT_US' | translate}}</b></h1>

        <p class="m-3 text-justify lh-lg">
            {{'ABOUT_US.PARAGHRAGH_1' | translate}}
        </p>

        <p class="m-3 text-justify lh-lg">{{'ABOUT_US.PARAGHRAGH_2' | translate}}</p>
        <p class="m-3 text-justify lh-lg">{{'ABOUT_US.PARAGHRAGH_3' | translate}}</p>
        <p class="m-3 text-justify lh-lg">{{'ABOUT_US.PARAGHRAGH_4' | translate}}</p>

        <h1 class="text-center mt-4 text-uppercase"><b>{{'LABELS.WORK_TEAM' | translate}}</b></h1>

        <div class="row">
            <div *ngFor="let element of staff" class="col-3 imageselect add-clearfix image-imagebox">
                <article class="imagebox text-center m-3">
                    <figure>
                        <span><img class="logo" [src]="element.img" [alt]="'صورة ' + element.ar_name"></span>
                        <figcaption>
                            <span class="price">{{'LABELS.ROLE_NAME' | translate}}</span>
                            <h2 class="caption-title">{{translateService.currentLang === 'ar'? element.ar_role:
                                element.en_role}}</h2>
                        </figcaption>
                    </figure>
                    <span class="text-center">{{translateService.currentLang === 'ar'? element.ar_name:
                        element.en_name}}</span>
                </article>
            </div>
        </div>

    </div>
</div>