@import "src/assets/scss/_variables";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");


/* You can add global styles to this file, and also import other style files */
* :not(mat-icon) {
  font-family: $accent-font !important;
}


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.toolbar {
  background-color: $primary-color !important;
  color: $basic-color;
  box-shadow: $box-shadow;
}

.logo {
  height: auto;
  width: 100%;
  border: $border-color 1px solid;
  border-radius: 10px;
  margin-top: 1.5rem;
}

.staff-img {
  height: auto;
  width: 259px;
  border: $border-color 1px solid;
  border-radius: 10px;
  margin-top: 1.5rem;
}


.mat-nav-list-ar {
  margin-top: 1.2rem !important;

  a {
    i {
      font-size: x-large;
      color: $primary-color !important;
      margin-left: 0.2rem;
    }

    border: $border-color 1px solid;
    border-radius: 10px !important;
    width: 90% !important;
    vertical-align: middle !important;
    padding-top: 0.5rem !important;
    margin-bottom: 0.5rem;
    color: $primary-color !important;
  }

  a:hover {
    font-size: xx-large;

    i {
      font-size: xx-large;
    }

    background-color: $warn-color;
  }
}

.mat-nav-list-en {
  margin-top: 1.2rem !important;

  a {
    i {
      font-size: x-large;
      color: $primary-color !important;
      margin-right: 0.2rem;
    }

    border: $border-color 1px solid;
    border-radius: 10px !important;
    width: 90% !important;
    vertical-align: middle !important;
    padding-top: 0.5rem !important;
    margin-bottom: 0.5rem;
    color: $primary-color !important;
  }

  a:hover {
    i {
      font-size: xx-large;
    }

    background-color: $warn-color;
  }
}

.bg-primary {
  i {
    font-size: xx-large !important;
  }

  background-color: $primary-color !important;
}

.bg-accent {
  i {
    font-size: xx-large !important;
  }

  background-color: $accent-color !important;
}

.bg-warn {
  i {
    font-size: xx-large !important;
  }
  color: black !important;
  background-color: $warn-color !important;
  font-weight: bold;
}

.bg-F5 {
  i {
    font-size: xx-large !important;
  }

  border-radius: 0 0 0 9px;
  background-color: #F5F5F5 !important;
}

.bg-F5-en {
  i {
    font-size: xx-large !important;
  }

  border-radius: 0 0 9px 0;
  background-color: #F5F5F5 !important;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $border-color;
  margin: 1em 0;
  padding: 0;
}

.div-center {
  margin-top: 1rem;
  text-align: center;

  a {
    text-decoration: none;
    color: $primary-color;
  }
}

.main-card {
  margin-top: 1.5rem;
  min-height: 80vh !important;
  width: 100%;
}

.ciphers-card {
  width: 95% !important;
  margin-top: 1.5rem !important;
  // margin: 1.5rem !important;

  border-radius: 15px;
  box-shadow: $box-shadow-2;
}

.header-ciphers {
  border-bottom: $border-color 1px solid;
  height: 40px;
  padding: 10px;

  ul {
    label {
      margin-left: 10px;
      display: inline;
    }

    list-style-type: none;

    li {
      display: inline;
      margin-left: 0.5rem;

      button {
        border: $border-color 1px solid;
        border-radius: 10px;
        padding: 0.1rem 1rem;
        min-width: 90px;
        background-color: $primary-color;
        color: $basic-color;
      }
    }
  }
}

textarea:focus {
  outline: none !important;
}

.parent-div{
  position: relative;
}

.corner-top-left {
  position: absolute;
  left: 0;
  margin-top: 1.5rem;
  margin-left: 0.5rem;

  i {
    font-size: 35px !important;
  }
}

.corner-top-right {
  position: absolute;
  right: 0;
  margin-top: 1.5rem;
  margin-right: 0.5rem;

  i {
    font-size: 35px !important;
  }
}

.corner-bottom-left {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 0.2rem;
  margin-left: 0.5rem;
}

.corner-bottom-right {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 0.2rem;
  margin-right: 0.5rem;
}



.height-of-encode-box {
  min-height: 340px !important;

  .full-width {
    width: 100%;
    min-height: 250px !important;
    border: none;
    border-radius: 5px;
    margin-top: 3px;
    resize: none;
  }
}

.icon {
  color: $icon-color;
  cursor: pointer;
  font-size: 35px;
  height: 48px !important;
  width: 48px !important;
  // transform: translate(-50%,-50%);
}

.icon:hover {
  color: $accent-color;
}

.icon-x {
  font-size: 24px;
  color: $icon-color;
  padding: 0 6px;
  cursor: pointer;
}

.icon-x:hover {
  font-size: 24px;
  color: $primary-color;
  border: none;
  border-radius: 50%;
  background-color: $background-one;
}

.slide-ecode-decode {
  margin-top: 1.2rem;
}

.right-area {
  position: relative;
  border-left: $border-color-2 1px solid;
}

.left-area {
  position: relative;
}

.text-input {
  border: solid 1px $border-color-2;
  border-radius: 10px;
  font-size: 12px !important;
}

.mat-mdc-input-element {
  font-size: 12px;
}

.font-24 {
  font-size: 24px !important;
}

.w-95{
width: 95% !important;
}

.min-height{
  min-height: 500px !important;
}

.mr-1 {
  margin-right: 0.5rem !important;
}

.mr-2 {
  margin-right: 0.8rem !important;
  margin-bottom: 0.8rem !important;
}



.ml-1 {
  margin-left: 1rem !important;
}
.ml-5 {
  margin-left: 1.2rem !important;
}

.ml-10 {
  margin-left: 5rem !important;
}

.mr-5 {
  margin-right: 1.2rem !important;
}

.mr-10 {
  margin-right: 5rem !important;
}

.text-f5 {
  color: $icon-color;
}

.mt-7 {
  margin-top: 4.5rem;
}

.pl-10 {
  padding-left: 3rem !important;
}

.feedback-ar {
  position: absolute;
  left: 0;
  padding-left: 1.2rem !important;
  color: rgb(95, 99, 104);
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-style: italic;
  font-weight: 400;
  margin: 8px 12px 0;
  text-decoration: none;
}

.feedback-en {
  position: absolute;
  right: 0;
  padding-right: 1.2rem !important;
  color: rgb(95, 99, 104);
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-style: italic;
  font-weight: 400;
  margin: 8px 12px 0;
  text-decoration: none;
}

.all-actions {
  margin-top: 10rem !important;
  margin-bottom: 10rem !important;
  align-items: center;
  display: flex;
  justify-content: center;

  .action-icon {
    text-decoration: none;
    cursor: pointer;
    margin: 0 18px;
    margin-right: 3rem !important;
    text-align: center;

    i {
      border: 1px solid $border-color;
      border-radius: 40px;
      padding: 1rem !important;
      color: $icon-color;
      font-size: 30px;
    }

    .title{
      margin-top: 2rem !important;
      color: $icon-color;
      font-size: xx-small !important;
    }

  }
}

.mr-3{
  margin-right: 1.5rem !important;
}

.ml-3{
  margin-left: 1.5rem !important;
}

.text-justify{
  text-align: justify;
}

.additions-cards{
  min-height: 400px !important;
}

table{
  margin: 1rem 0;
  width: 100%;

  th, td{
    border: 1px solid $border-color;
    padding: 1px;
    text-align: center;
  }
}

.header-offcanvas{
  position: relative;

  .close{
    position: absolute;
    left: 0;
    top: 0;
  }
}

.my-custom-snackbar{
  direction: rtl !important;
}